@media (min-width: 48em) {
    #menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navigation {
        display: flex !important;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
    }

    .navigation li {
        margin-left: 1rem;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}