* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: acme, Arial, sans-serif;
}

body {
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 2.5rem 1.5rem; 
}

nav {
    background-color: #000; 
    width: 100%;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
}

.navigation li {
    flex: 1;
}

.navigation a {
    display: block;
    padding: 1rem;
    color: white; 
    text-decoration: none;
    text-align: center;
}

.content {
    display: flex;
    flex: 1; 
}

.main {
    background: rgb(192, 192, 192); 
    flex: 3; 
    padding: 1.5rem;
}

.direto {
    background: white;
    flex: 1; 
    padding: 1.5rem;
}

footer {
    background: rgb(54, 54, 54); 
    color: white;
    text-align: center;
    padding: 2rem; 
}